.sidebar {
  background-color: var(--dark-purple);
  padding-top: 40px;
  width: 370px;
}

.sidebar * {
  color: var(--white);
}

.photo {
  width: 370px;
  margin-bottom: 20px;
}

.sidebar__section {
  padding: 20px 40px 0 40px;
}

.sidebar__section-title {
  color: var(--white);
  line-height: 27px;
  margin-bottom: 10px;
}

.sidebar__list {
  padding: 0;
  padding-left: 18px;
}

.sidebar__list li {
  color: var(--orange);
}

.sidebar__list li p {
  color: var(--white);
}

.sidebar__list li p span {
  color: var(--grey);
}

/* Licenses */

.license {
  margin: 25px 0;
}

.license-title {
  margin-top: 20px;
}

.license-description {
  font-weight: 600;
  max-width: 170px;
  line-height: 20px;
}

/* Bullet */
/* .license-title::before {
  content: "\2022";
  color: var(--orange);
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1.2em;
  vertical-align: middle;
} */

.license-period {
  font-size: 12px;
  text-align: end;
  font-style: italic;
  /* color: var(--grey); */
}

.license-link-row {
  color: var(--orange);
  justify-content: space-between;
  align-items: center;
}

.license-link-row a {
  text-decoration: none;
}

.license-link-row div {
  gap: 15px;
}

.license-organization {
  color: var(--orange);
  font-weight: 600;
}

/* Contacts */

.contact-line {
  margin-bottom: 0.25rem;
}

.contact-type {
  color: var(--orange);
  margin-right: 8px;
  font-weight: 700;
}

.contact-link {
  color: var(--grey);
}

.contact-social {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-social__row {
  display: flex;
  width: 100%;
}

.contact-social__row-text {
  display: flex;
  width: 7rem;
  align-items: center;
}

.contact-social__row-text p {
  font-size: 16px;
  font-weight: 500;
}

.contact-social__row-icon {
  display: flex;
}
