.sidebar {
  background-color: var(--dark-purple);
  padding-top: 40px;
  width: 370px;
}

.sidebar * {
  color: var(--white);
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.sidebar__section {
  margin-left: 40px;
  margin-bottom: 45px;
}

.sidebar__section-title {
  color: var(--white);
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.sidebar__list {
  padding: 0;
  padding-left: 18px;
}

.sidebar__list li {
  color: var(--orange);
}

/* Contacts */

.contact-type {
  color: var(--white);
  margin-right: 8px;
  font-weight: 600;
}

.contact-link {
  color: var(--white);
  opacity: 0.5;
}
